/* globals.css */
@import 'tailwindcss';

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

code {
  font-family: var(--font-mono);
}